* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
}
main{
    background-color: #A1248B;
    padding-left: 14.5rem;
    padding-right: 14.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
span {
    color: #ffff;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
}
.titulo {
    font-size: 2.8rem;
}
.textos{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}
.sub-titulo {
    width: 60%;
}
.experimente {
    background-color: #121212;
    border-radius: 50px;
    width: 40%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.experimente span {
    font-size: 1.4rem;
}
.experimente:hover {
    transform: scale(1.1);
}