* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
}
.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-left: 14.5rem;
    padding-right: 14.5rem;
    padding-top: 1.5rem;
    gap: 5rem;
}
.footericons {
    display: flex;
    flex-direction: row;
    gap: 60rem;
}
.footericonssocial {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.spanfooter {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-bottom: 3rem;
}
.spanfooter span{
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #919496!important;
}
.backgroundiconfooter {
    border-radius: 50%;
    background-color: #222326;
    width: 54px;
    height: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}